* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    margin: 0 auto;
    text-align: center;
}

/* Header */
header {
    position: fixed;
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    z-index: 1;
}
.headerLogoPic {
    float: left;
}

.headerLogoPic img {
    margin-left: 10px;
    height: 50px;
}

.headerNavbar {
    float: right;
}

.headerNavbar ul {
    display: inline-flex;
    font-size: 22px;
    list-style-type: none;
    text-decoration: underline;
}

.headerNavbar ul li {
    margin-right: 10px;
    margin-left: 10px;
}

.headerNavbar ul li a {
    color: seashell;
}

/* Main */

.mainMission {
    position: relative;
    top: 70px;
    background-image: url("../img/img-mission-background.jpg");
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 700px;
    margin-left: 5%;
    margin-right: 5%;
}

.mainMissionTitles {
    position: relative;
    top: 300px;
    background-color: black;
    padding: 1px 0;
}

.mainMonth {
    width: 1000px;
    margin: auto;
}

.mainMonthTitles {
    margin-top: 150px;
}

.mainMonthPicturesAlone {
    display: inline-block;
    margin: 0 10px;
}

figure img {
    width: 300px;
    height: 200px;
}

figure figcaption {
    margin-top: 10px;
    margin-bottom: 25px;
}

.mainLocations {
    background-image: url("../img/img-locations-background.jpg");
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 500px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 45px;
}

.mainLocations h2 {
    padding-top: 60px;
    margin-bottom: 15px;
}

.mainLocationsAdresses {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 0 20px;
    background-color: black;
    opacity: 1;
}

.mainLocationsAdresses p {
    margin-top: 35px;
    margin-bottom: 50px;
}

/* Footer */
.footerContact {
    height: 200px;
    bottom: 0;
}

.footerContact h5 {
    margin-top: 30px;
    margin-bottom: 25px;
}

.footerCopyright {
    float: left;
    margin-left: 20px;
}